.carousel-wrapper{
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inactive-carousel {
  display: none;
}
.active-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.carousel-image {
  display: flex;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border: solid black 5px;
}
.button {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
}
.carousel-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.carousel-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Saira', sans-serif;
  text-align: center;
}
.carousel-description-wrapper > h2,h3 {
  margin: 5px;
  font-size: 1em;
}
.carousel-description-wrapper > h2 {
  font-size: 1.25em;
}
.link-button {
  border-radius: 10px;
  border: solid black 2px;
  font-family: 'Saira', sans-serif;
  background: white;
  width: 120px;
  height: 30px;
  margin: 15px;
  font-size: 1em;
}
.fas {
  padding: 2vmax;
  color: black;
  font-size: 5vmax;
}


#carousel-tracker {
  width: 100%;
  height: 5vh;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  margin-top: 30px;
}
.active-tracker {
  color: black;
}
.inactive-tracker {
  color: grey;
}
.fa-circle {
  font-size: 1em;
  padding: 5px;
}
